/target

tmp
circuit.zkey
node_modules
**/.env
**/credentials.json
artifacts
regex
logs
config.json
cache
broadcast

IGroth16Verifier.sol
Groth16Verifier.sol
ZKEmailVerifier.sol

nohup.out

node_modules