# foundry directories
broadcast
cache
out

# hardhat directories
hh-artifacts
hh-cache

# other directories
coverage
node_modules

# generated contracts
src/Groth16Verifier.sol
src/ZKEmailVerifier.sol